.titleName {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.introP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.initialButton{
    display: flex;
    margin: 0 auto;
}

.bottom {
    position: fixed;
}